
body{
    margin: 0;
    padding:0;
}

/* Gestion mono page */
#gestion{
   background:white; 
   display: flex;
   flex-direction: column;
   height: 100vh;
}

/* Barre de navigation */
.nav{
    background: #454545;
    display: flex;
    width: 100%;
    height: 70px;
    
    justify-content: space-between;
    align-items: center;
}

#gestion .close, h3{
    padding: 20px;
}


#gestion h3{
    font-size: 25px;
    color: white;
}
/* Boutons */
.button_gestion{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-width: 1px;
    border-style: solid;
    border-left: #d0d0d0;
    border-right: #d0d0d0;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.button_gestion div{
    background:#454545;
    width: 122px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.button_gestion a{
    color: white;
    text-decoration: none;
}

.button_gestion div:hover{
    background: #8b8b8b;
}
div.active1{
    background:red;
}

/* Table des films */
.table_gestion_film{
    /* background: violet; */
    width: 99vw;
    height: 100vh;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin-left: 10px;
}
.table_gestion_film .titre_film{
    text-align: left;
    padding-left: 10px;   
}
.table_gestion_film td{
    text-align: center;    
}
img.edit_film, img.delete_film{
    padding: 0;
}
.table_gestion_film .item1_film{
    width: 500px;
    text-align: center;
}
.table_gestion_film .item2_film{
    width: 200px;
    text-align: center;
}
.table_gestion_film .item3_film{
    width: 150px;
    text-align: center;
}
.table_gestion_film .item4_film{
    width: 450px;
    text-align: center;
}
.table_gestion_film .item5_film{
    width: 200px;
    text-align: center;
}
.table_gestion_film .item6_film, .item7_film{
    width: 160px;
    text-align: center;
}

/* Bouton  Ajouter un film */
.btn_add_gestion{
   
    width: 100%;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: end;
    align-items: center;
}
.btn_add_gestion div{
    background:#454545;
    width: 122px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn_add_gestion a{
    color: white;
    text-decoration: none;
}

.btn_add_gestion div:hover{
    background: #8b8b8b;
}

/* Footer */
footer{
    background: #8b8b8b;
    width: 100%;
    height: 45px;
    align-self: flex-end;
    
}